#wrapper {
    /* display: flex; */
  }
  
  #left {
    flex: 0 0 50%;
  }
  
  #right {
    flex: 1;
  }

  #questionArea {
    font-size: 1.8em;
  }

  .card-game {
    display: none;
  }

  .action {
    text-align: center;
    font-size: 1.4em;
  }